<h1>Communication and understanding</h1>
<img src="/static/imgs/sundog.jpg" alt="Sundog appearing" />
<p>
	A sundog appears around this radome. A sundog is caused by diffraction of ice crystals in the air.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Nick Powell
</p>

<h1>Gathering information</h1>
<img src="/static/imgs/balloon2.jpg" alt="Long duration balloon" />
<p>
	A Long Duration Balloon carrying scientific instruments being launched into the upper atmosphere.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Brien Barnett
</p>
