<h1>Discover new facts</h1>
<img src="/static/imgs/nacreous.jpg" alt="Nacreous Clouds" />
<p>
	These nacreous clouds only occur in the polar regions when the stratospheric temperature dips below 100 degrees below zero Ferhenheit.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Dr. Bill Servais/D.D.S.
</p>

<h1>A fresh perspective</h1>
<img src="/static/imgs/blueicecave.jpg" alt="Blue ice cave" />
<p>
	An ice cave at Loudwater Cove on Anvers Island, near the Antarctic Peninsula.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Zenobia Evans
</p>
