<h1>Experience in a specialist field</h1>
<img src="/static/imgs/karen.jpg" alt="Karen Shackleton" />
<p>
	Karen Shackleton, Director
</p>

<h1>Unique and insightful analysis</h1>
<img src="/static/imgs/polemarker.jpg" alt="South Pole Marker" />
<p>
	The 2007 South Pole marker. Each year a marker is placed to designate the new location of the Geographic South Pole. The ice sheet underneath moves around 7 metres a year.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Glenn Grant
</p>

<h1>Reliable communication</h1>
<img src="/static/imgs/satellite.jpg" alt="Remote Satellite Earth Station" />
<p>
	A portion of the Remote Satellite Earth Station on Black Island.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Melanie Conner
</p>

<h1>Relevant feedback</h1>
<img src="/static/imgs/polereflection.jpg" alt="South Pole reflection" />
<p>
	The reflection sphere at Amundsen-Scott South Pole Station. The ceremonial pole and sign at the station are surrounded by flags of the 12 signatory nations of the Antarctic Treaty.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Scott Smith
</p>

<h1>Personal service</h1>
<img src="/static/imgs/shackletonhut.jpg" alt="Shackleton's base camp" />
<p>
	Sir Ernest Shackleton's base camp hut on Ross Island, Antarctica.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Ginny Figlar
</p>

<h1>Practical applications</h1>
<img src="/static/imgs/penguindive.jpg" alt="Penguin dive" />
<p>
	The routine occurrence of a penguin's 500 metre dives has medical applications for patients whose organs have been deprived of oxygen due to heart attack, stroke, or transplant.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Emily Stone
</p>
