<h1>Experience in a specialist field</h1>
<img src="/static/imgs/mark.jpg" alt="Mark Shackleton" />
<p>
	Mark Shackleton, Director
</p>

<h1>Bright Ideas</h1>
<img src="/static/imgs/sunset.jpg" alt="Sunset" />
<p>
	At the bottom of the globe
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Ken Keenan
</p>

<h1>High energy particles</h1>
<img src="/static/imgs/aurora.jpg" alt="Aurora" />
<p>
	Put on an electic display
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Patrick Cullis
</p>

<h1>From small beginnings</h1>
<img src="/static/imgs/pressureridge.jpg" alt="Pressure ridge" />
<p>
	Large changes can result
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Timothy Russer
</p>
