<h1>Insight and understanding</h1>
<img src="/static/imgs/iceberg2.jpg" alt="Iceberg" />
<p>
	An iceberg near the Antarctic peninsula. Hidden dangers lie unseen below the surface.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Jeffrey Kietzmann
</p>

<h1>Depth of knowledge</h1>
<img src="/static/imgs/underwater.jpg" alt="Underwater" />
<p>
	An underwater camera allows scientists to study fauna on the Antarctic ocean floor all year round.
	<br />
	<a href="http://photolibrary.usap.gov/" title="National Science Foundation">National Science Foundation</a>
	<br />
	Photograph: Steve Clabuesch
</p>
