<div class="row" id="header">
  <div class="col-md-10 col-md-offset-2">
    <h1 id="title">
      <a href="/">{{ site.title | escape }}</a>
    </h1>
    <h2 id="subtitle">
      {{ site.subtitle | escape }}
    </h2>
  </div>
</div>
<div id="linkbar" class="row">
  <div class="col-md-12">
    <ul>
      {% for item in site.data.sitemap.sitemap %}
      <li class="page_item">
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.subfolderitems[0] %}
        <ul class="children">
          {% for child in item.subfolderitems %}
          <li class="page_item">
            <a href="{{ child.url }}">{{ child.page }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
